@font-face {
    font-family: "Monomaniac";
    src: url("fonts/MonomaniacOne-Regular.ttf") format("truetype");
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-family: "Monomaniac", sans-serif;
    font-size: 62.5%;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    padding: 15px;
}

.calculator {
    width: 20%;
    max-width: 500px;
    font-size: 1.6rem;
    border:  1px solid grey;
}

.calculator-display{
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid grey;
    overflow-x: auto;
}

.calculator-keypad {
    display: flex;
    width: 100%;
}

.keypad-numbers{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
}

.keypad-button {
    width: calc(33.33% - 8px);
    padding: 8% 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border:  1px solid grey;
    margin: 4px;
}

.keypad-button:hover {
    filter: brightness(80%);
    transition: filter .25s;
}

.yellow {
    background-color: yellow;
}

.large {
    width: 46,5%;
}
.dark {
    background-color: lightgray;
}